.wrap {
    margin: 10px 20px 0 2px;
}
.mfr-settings .breadcrumbs
{
	    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}
.mfr-settings .mailflatrate-tabs .tab
{
	display:none;
	visibility:hidden;
}
.mfr-settings .mailflatrate-tabs .tab.tab-active
{
	display:block;
	visibility:visible;
}
.mfr-settings .row {
    margin-left: -20px;
    margin-right: -20px;
    float: none;
}
.mfr-settings .row:before
{
	content: " ";
    display: table;
}


.mfr-settings .row .col-4 {
    width: 100%;
}
.mfr-settings .small-margin, .mfr-settings .small-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}
.mfr-settings .row .col
{
	    padding: 0 20px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mfr-settings .page-title{
    background: url(../img/MFR-Logo.svg) left center no-repeat;
    padding-left: 73px;
    line-height: 32px;
    margin-bottom: 20px;
}

.mfr-settings .available-fields, .mfr-settings .available-fields {
    border: 1px solid #ccc;
    padding: 20px;
    background: #fff;
}
.mfr-settings .available-fields h4, .mfr-settings .available-fields h4 {
    font-size: 14px;
    margin-top: 0;
}
.mfr-settings .tiny-margin, .mfr-settings .tiny-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}
.mfr-settings .available-fields strong, .mfr-settings .available-fields strong {
    display: block;
    margin-bottom: 6px;
}
.mfr-settings .available-fields button, .mfr-settings .available-fields button {
    margin: 0 6px 6px 0;
}
.mfr-settings .mailflatrate-row
{
	float:left;
	width:48%;
	margin:1%;
}
#mailflatrate-field-wizard
{
	float:left;
	width:100%;
}
.mfr-settings .subscribe
{
    float: left;
    width: 100%;
    background-color: rgba(0,0,0,0.05);
    min-height: 290px;
    padding:15px;
}
#mailflatrate-form-content
{
	resize:none;
}
.buttons-fields-mailflatrate input[type='button'], .buttons-fields-mailflatrate button
{
	margin-top:5px !important;
}
.mfr-settings .available-fields .in-form,.mfr-settings  .available-fields .in-form {
    opacity: .5;
}
.mailflatrate-dropdownhidden, .mailflatrate-multiselecthidden, .mailflatrate-countryhidden, .mailflatrate-statehidden, .mailflatrate-radiolisthidden, .mailflatrate-checkboxlisthidden
{
	display:none;
}
.form-item-mailflatrate-successfully-subscribeed-color, .form-item-mailflatrate-invalid-email-address-color, .form-item-mailflatate-already-subscribed-color, .form-item-mailflatrate-agree-to-terms-color, .form-item-missing-email-address-color, .form-item-data-protection-color
{
	float: left;
    padding: 25px !important;
}
#edit-manilflatrate-connected
{
	    border: 3px solid green;
}
#edit-manilflatrate-connected-not
{
	border:3px solid red;
}