<div class="mailflatrate-form">
<div id="overlay"></div>
<div class="messagebox"></div>
<form action="" id="mailflatrate-form-submit">
<input type="hidden" id="submitmoduleurl" name="submitmoduleurl" value="{{url}}" />
<input type="hidden" id="mailflatrate-terms-agree-color" name="mailflatrate-terms-agree-color" value="{{termsagreeColor}}">
<input type="hidden" id="mailflatrate-terms-agree" name="mailflatrate-terms-agree" value="{{termsagree}}">
  {{ mailflatrateEditorCode | raw }}
  </form>
</div>